@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

$black-color: #03070D;
$white-color: #F2F2F2;
$orange-color: #ED3E0C;

*{
    margin: 0; padding:0; box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

ul{
    list-style: none;
}

    /***********
    ** Espaço dedicado a formatação das linhas laranjas
    ***********/

    @mixin divisoriaLaranja{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @mixin linhaLaranja{
        height: 3px; width: 58vw;
        background-color: $orange-color;
    }

    @mixin h2linhaLaranja{
        position: relative;
        right: 5vw;
    }