@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

/*configurações gerais*/

*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

/*configurações da primeira parte da pagina*/

section:first-child{
    background-image: url('imagens/foto-primaria.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#logo-site{
    width: 8rem; height: 3rem;
    margin: .8rem
}

.iconRedesSociais{
    width: 1.8rem; height: 1.8rem;
    margin-top: 3rem;
}

.tracoVertical{
    width: .1rem; height: 12rem; background-color: black;
    margin-left: 5rem;
}
